<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/base.css">
    <title>VJSOLAR</title>
</head>
<body>
    <div>
        <head>
            <box-icon type='logo' name='facebook-circle'></box-icon>
            <box-icon name='instagram' type='logo' ></box-icon>
            <button type="button"><img src="/image/icons8-facebook-nuevo-48.png" alt="face"  class="icon"></button>
            
        </head>
    </div>
    
    JVSOLAR
    <div>
        <footer>

        </footer>
    </div>
</body>
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</html>