<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/indexgrid.css">
    <title>VJSOLAR</title>

</head>
<body>
    <div class="header1">
        <header>
            <nav class="nav">
              <a href="#"><img class="fotologo" src="/image/logojfv.png" alt=""></a>
                <ul class="menu">
                 <li><a href="#">Inicio</a></li>
                 <li><a href="#">Nosotros</a></li>
                 <li><a href="#">Productos</a></li>
                 <li><a href="#">Soluciones</a></li>
                 <li><a href="#">Trabajos</a></li>
                 <li><a href="#">Blog</a></li>
                 <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
    </div>
    
   
    <div>
        <footer>

        </footer>
    </div>
</body>
</html>