<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
    <link rel="stylesheet" href="/Principal1/static/estilos.css">

    <link rel="stylesheet" href="/Principal1/static/carousel.css">
    <link rel="stylesheet" href="/Principal1/static/slider.css">
    <link rel="stylesheet" href="/Principal1/static/cards.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.toggle').click(function(){
                $('ul').toggleClass('active');
            })
        })
    </script>
    <title>VJSOLAR</title>

</head>
<body>
     <section>
            <header>  
                <a href="#" class="logo"><img src="/Principal1/image/logojfv.png" alt=""></a>
            
                <a href="#" class="toggle">Menu</a>
               
                <ul class="active">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Soluciones</a></li>
                    <li><a href="#">Trabajos</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
           
            </header>
     </section>
     
         <div class="slider">
            <ul class="ul-slider">
               <li class="li-slider">
                  <img src="/Principal1/image/ypf-solar 5.webp" alt="">
               </li>
               <li class="li-slider">
                  <img src="/Principal1/image/ypf-solar 1.webp" alt="">
               </li>
               <li class="li-slider">
                  <img src="/Principal1/image/ypf-solar 2.webp" alt="">
               </li>
               <li class="li-slider">
                  <img src="/Principal1/image/ypf-solar 3.webp" alt="">
               </li>
            </ul>
      </div>
   
   <div class="texto1">
      <h1>NUESTRAS SOLUCIONES DE ENERGIA RENOVABLE</h1>
   </div>
     <div class="container1">   
        <div class="carousel"> 
            <div class="card">
                <div class="img">
               <img src="/Principal1/image/foto panel solar fondf.jpg">
                </div>
            <div class="top-text">
               <div class="name">
                 TANQUES SOLARES
               </div>
               <p>
                  
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                Los termotanques solares son sustentables. Permiten ahorrar hasta el 80% de la energía que se utiliza para calentar el agua caliente sanitaria. Certificados por el INTI.
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="/Principal1/image/-placas-solares-para-autoconsumo-.jpg">
            </div>
            <div class="top-text">
               <div class="name">
                  ENERGIA FOTOVOLTAICA
               </div>
               <p>
                  Website Developer
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="/Principal1/image/panel1.webp">
            </div>
            <div class="top-text">
               <div class="name">
                  Harley Briana
               </div>
               <p>
                  Graphic Developer
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="/Principal1/image/panel1.webp">
            </div>
            <div class="top-text">
               <div class="name">
                  Harley Briana
               </div>
               <p>
                  Graphic Developer
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="/Principal1/image/panel1.webp">
            </div>
            <div class="top-text">
               <div class="name">
                  Harley Briana
               </div>
               <p>
                  Graphic Developer
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
    </div>
</div>
       <div class="texto2">
         <h1>RAZONES PARA ELEGIR A JFV INGENIERIA </h1>
       </div>

       <!--los iconos se sacaron de https://www.flaticon.es/resultados?word=persona&order_by=4 -->
       <div class="cards-container">
       
         <div class="cards">
            <div class="cards-header"><img src="/Principal1/image/iconos/soleado.png" alt=""></div>
         <div class="cards-text">
            <p>Ofrecemos  una solución llave en mano: todos nuestros Kits vienen prearmados para ser instalados de manera simple e intuitiva. </p>
         </div>
      </div>
      <div class="cards">
         <div class="cards-header"><img src="/Principal1/image/iconos/encendiendo.png" alt=""></div>
         <div class="cards-text">
            <p>Servicio de asesoramiento e  instalación domiciliaria con nuestra red de agentes oficiales</p>
         </div>
      </div>
         <div class="cards">
            <div class="cards-header"><img src="/Principal1/image/iconos/configuraciones.png" alt=""></div>
         <div class="cards-text">
            <p>Estructura sólida, bajo el respaldo de YPF: más de 60 profesionales especializados en todas las áreas dispuestos a brindar el  mejor asesoramiento.</p>
         </div>
      </div>
         <div class="cards">
            <div class="cards-header"><img src="/Principal1/image/iconos/grupo-de-chat.png" alt=""></div>
         <div class="cards-text">
            <p>Soluciones a medida para cubrir cualquier necesidad de energía renovable en cada sector de la industria. </p>
         </div>
      </div>
         <div class="cards">
            <div class="cards-header"><img src="/Principal1/image/iconos/herramientas.png" alt=""></div>
         <div class="cards-text">
            <p>Compromiso responsable y sostenible: certificación como empresa B.</p>
         </div>
      </div>
    
   </div>


       <div>4</div>
       <div>5</div>
       <div>6</div>
       <div>7</div>
       <div>8</div>
       <div>9</div>
       <div>10</div>
       <div>11</div>
       <div>12</div>
       <div>13</div>
       <div>14</div>
       <div>15</div>
       <div>16</div>
       <div>17</div>
       <div>18</div>
       <div>19</div>
       <div>20</div>
       <div>21</div>
       <div>22</div>
       <div>23</div>
       <div>24</div>    
<footer>

   <h1>aca va el footer</h1>
</footer>
    
</body>
</html>